<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Список купленных товаров</title>
  <menu th:replace="default :: menu"> </menu>
  <table_style th:replace="default :: table_style"> </table_style>
</head>

<body>
<table>
  <div style="display: inline-block">
    <h2 style="padding-left: 50px" th:text="${name}">name</h2>
    <h3 style="padding-left: 50px"> Список покупок: </h3>
  </div>
  <tr>
    <th>Название</th>
    <th>Цена</th>
  </tr>

  <tr th:each="product : ${product_list}">
    <td width="200" th:text="${product.getTitle()}">title</td>
    <td width="100" align="center" th:text="${product.getPrice()}">cost</td>
  </tr>

</table>
</body>

</html>