<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<html lang="ru">

    <head>

        <meta charset="UTF-8">

        <title>Описание товара</title>

        <menu th:replace="default :: menu"> </menu>

    </head>

    <body>

        <h2>Описание товара </h2>

        <h2 th:text="${product.getTitle()}">product</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores consequatur consequuntur delectus eaque error excepturi fugit illum impedit iure magnam molestias nam quam, quasi quia quis repellendus sed veniam voluptatum!</p>

    </body>
</html>